.is-star-con-tips{
  border: 2px solid #081A39;
  margin-bottom: 40px;
  padding: 40px;
  width: 100%;
  text-align: center;
  height: fit-content;
  background-color: #081A39;
  color: #fff;
}

.is-p-center{
  max-width: 1000px;
  margin: 0 auto;
}

.is-white-border{
  border: 1px solid #fff;
  width: 170px;
  height: 150px;
  padding: 15px;
}

.is-h3-quote{
  font-style: italic;
}

@media screen and (max-width: 600px){
  .is-font-media-smaller{
    font-size: 24px;
  }
}

@media screen and (max-width: 400px){
  .is-font-media-smaller{
    font-size: 16px;
  }
}